.center-message {
	text-align: center;
}

.main-content {
	text-align: center;
}

.main-content ul {
	display: inline-block;
	padding: 0;
}

table#board {
	margin: 5px auto;
}

.hide {
	display: none !important;
}

table#board td {
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 70px;
}

table#board .vert {
	border-left: 2px solid black;
	border-right: 2px solid black;
}

table#board .hori {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}