.center-message {
	text-align: center;
}

table#board {
	margin: 5px auto;
}

table#board td {
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 70px;
}

table#board .vert {
	border-left: 2px solid black;
	border-right: 2px solid black;
}

table#board .hori {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}